@font-face{
	font-family:roboto;
	src:url('font/Roboto-Regular.ttf');
}
@font-face{
	font-family:roboto-light;
	src:url('font/Roboto-Light.ttf');
}
@font-face{
	font-family:poison;
	src:url('font/Poison-Regular.ttf');
}
@font-face{
	font-family:jannscript;
	src:url('font/jannscript.ttf');
}
@font-face{
	font-family:saira;
	src:url('font/Saira-Regular.otf');
}
@font-face{
	font-family:saira-light;
	src:url('font/Saira-Light.otf');
}
@font-face{
	font-family:sensation;
	src:url('font/Sensation_Regular.ttf');
}
@font-face{
	font-family:sensation-light;
	src:url('font/Light.ttf');
}
@font-face{
	font-family:winter;
	src:url('font/Winter Poppins .ttf');
}
@font-face{
	font-family:righteous;
	src:url('font/Righteous-Regular.ttf');
}
@font-face{
	font-family:patrickhandsc;
	src:url('font/PatrickHandSC-Regular.ttf');
}
@font-face{
	font-family:rage;
	src:url('font/RAGE.TTF');
}
@font-face{
	font-family:daylove;
	src:url('font/Daylove_DEMO.ttf');
}
@font-face{
	font-family:makeanything;
	src:url('font/Make Anything.ttf');
}
@font-face{
	font-family:conseration;
	src:url('font/Conseration-Regular.ttf');
}
@font-face{
	font-family:dahlia;
	src:url('font/Smooth Dahlia.ttf');
}